<html>
  <head>
    <title>go-gin-mysql-boilerplate</title>
    <style>
        body {
            padding: 50px;
            font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
        }
    </style>
  </head>
  <body data-new-gr-c-s-check-loaded="14.1043.0" data-gr-ext-installed="">
    <h1>Welcome To Rest API Golang CRUD & Authentication</h1>
    <p>Welcome and good luck!</p>
  </body>
</html>
